# Sistema operacional
.DS_Store
Thumbs.db

# Logs e relatórios
*.log
*.out
*.pid

# Dependências
node_modules/
bower_components/

# Cache
.cache/
*.tmp
*.swp
__pycache__/
*.py[cod]
*.pyo

# Arquivos de build
/dist/
/build/

# Configurações do editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Arquivos temporários
*.bak
*.orig
*.tmp

# Arquivos de ambiente
.env
.env.local
.env.*.local
venv/
.venv
*.venv

# Arquivos de banco de dados
*.sqlite3
*.db

# Django
*.log
db.sqlite3
media/
staticfiles/

# Python
*.egg
*.egg-info/
.eggs/
*.coverage
.coverage.*
.cache
.pytest_cache/
.tox/
pip-log.txt
pip-delete-this-directory.txt

# Outros
*.lock
*.gz